body{
    margin: 0;
    font-family: 'Barlow', sans-serif;
    object-fit: cover;
    background-image: url(../img/background-home-desktop.jpg);
    background-size: cover;
}


/*Nav*/
.nav{
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 0 0 30px;
    height: 100px;
}

.nav img{
    height: 48px;
    width: 48px;
}

.line{
    background-color: #ffffff;
    height: 1px;
    width: 35%;
    margin: 0 30px;

}

.links{
    position: absolute;
    right: 0;
    background:#ffffff33;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    backdrop-filter: blur(15px);
    height: 102px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    color: white;
    font-size: 20px;
    margin: auto 50px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

/*Hover Nav*/

.nav-link hr{
    position: absolute;
    width: 80px;
    top: 50px;
    left: 0;
    height: 3px;
    background-color: #fff;
    border: none;
}

.nav-link-1 hr{
    width: 0px;
}

.nav-link-2 hr{
    width: 0px;
}

.nav-link-3 hr{
    width: 0px;
}

.nav-link-1:hover hr{
    width: 145px;
    transition: 0.5s;
    background-color: #ffffff98;
}


.nav-link-2:hover hr{
    width: 85px;
    transition: 0.5s;
    background-color: #ffffff98;
}

.nav-link-3:hover hr{
    width: 150px;
    transition: 0.5s;
    background-color: #ffffff98;
}


/*Home*/

.home{
    padding: 0 300px;
    display: flex;
}

.text{
    width: 500px;
    height: 400px;
    padding: 20px;
    margin-top: 250px;  
}

.text h2{
    color: #d0d6f9;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.text h1{
    font-size: 160px;
    color: #ffff;
    font-family: 'Bellefair', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-weight: 100;
}

.text p{
    font-size: 18px;
    color: #d0d6f9;
    text-align: justify;
    line-height: 1.5;
}

.circle{
    cursor: pointer;
    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 500px;
    bottom: 170px;
}

.circlehover{
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 100%;
}

.circlehover:hover{
    background-color: #ffffff33;
}


.circle h3{
    color: #000;
    font-family: 'Bellefair', sans-serif;
    font-weight: normal;
    font-size: 30px;  
    text-transform: uppercase;
}